.abouttxt h2{
    display: flex;
justify-content: center;
font-family: cursive;
}
#about1{
    display: flex;
justify-content: center;
font-family: cursive;
}
#about2{
    width: 400px;
    background-color: rgb(255, 255, 255);
    margin-left: 35%;
font-family: cursive;
box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
border-radius: 3px;
}
.chefpic{
    width: 300px;
}
.shef{
    display: flex;
    justify-content:center ;
    height: 200px;
    gap: 30px;
}
.allchef{
    background-color: rgb(255, 255, 255);
    height: 300px;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    border-radius: 3px;
    display: flex;
    justify-content: space-evenly;
align-items: center;
flex-wrap: wrap;

}
.titleimg{
    font-family: cursive;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}



@media (max-width:700px){
    #about2{
        width: 300px;
        margin-left: 70px;
    }
}