html {
  scroll-behavior: smooth;
}


.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
   .item_container {
    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
        flex-wrap: wrap;
        
  }
  
   .item_container .box {
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 30px 10px;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.15);
    
  }
  
   .item_container .box .img-box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
            
  }
  
   .item_container .box .img-box img {
    width: 900px;
    border-radius: 10px;
  }
  
   .item_container .box h6 {
    color: #ffffff;
    text-transform: uppercase;
    font-family: cursive;

  }
  .item_container .box h5 {
    text-transform: uppercase;
  }
  .item_container .box:hover {
    -webkit-box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 29px 1px rgba(0,0,0,0.75);

  }
  .item_container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5pc;
  }
  .box{
    width: 200px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
  }
  .name{
    color:beige;
    font-family: cursive;
    display: flex;
    justify-content: center;
  }
  .txt1title{
    border: 2px solid;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40%;
    margin-bottom: -5pc;
  }
  .txt2title{
    border: 2px solid;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40%;
    margin-bottom: -5pc;
  }
  .txt3title{
    border: 2px solid;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40%;
    margin-bottom: -5pc;
  }
  .txt4title{
    border: 2px solid;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40%;
    margin-bottom: -5pc;
  }
  .plus{
    margin-left: 200px;
  }
  .confirm{
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 300px;
    margin-bottom: 60px;
    color: aliceblue;
    border-radius:20px;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    margin-left: 10%;
  }
  
  #black-part{
    background-color: rgb(0, 0, 0);
    height: 60px;
    border-radius:10px 10px 0px 0px ;
    display: flex;
    justify-content: space-between;
    font-family: cursive;
  }
  .titleconfirm{
    margin-left: 40px;
    font-size: 20px;
  }
  #logoc{
    width: 40px;
    margin-right: 20px;
  }
  #logoc2{
    width: 300px;
  }
  .confirmb{
    margin-left: 100px;
    height: 40px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 10px;
  }
  .shop{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .confirm2{
    width: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
  }
  .titleconfirm2{
    color: beige;
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-size: 30px;
  }
  #txtid{
    font-family: cursive;
    display: flex;
    justify-content: center;
  }
  #inputid{
    margin-left: 160px;
    margin-bottom:40px ;
    height: 50px;
  }
  @media (max-width:700px) {
    .confirm2{
      width: 300px;
    }
    .titleconfirm2{
      font-size: 15px;
    }
    #inputid{
      margin-left: 60px;
    }
  }
  #cont{
    background-color: rgb(255, 255, 255);
    height: 300px;
    display: flex;
    border: 3px solid black;
  }
  #cont p{
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: cursive;
  }
  #cont{
    width:300px;
    height: 300px;
    display: flex;
    justify-items: center;
    margin-top: 40px;
    border-radius: 20px; 
    display: grid;
    place-content: center;
    overflow-y: scroll;
  }
  #cont::-webkit-scrollbar{
  display: none;
  }
  .center{
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  .plus:hover{
    background-color: rgb(147, 147, 147);
    border-radius: 50%;
  }
  .plus{
    cursor: pointer;
  }
  .logoc {
    cursor: pointer;
    width: 48px;
  }
  #cont{
    display: none;
  }
  #removebtn{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #btnr{
    margin-top: 20px;
    width: 100px;
    height: 50px;
    border-radius:10px ;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(216, 0, 0);
  }
  #btnr:hover{
    background-color: rgb(107, 1, 1);
    color: rgb(255, 255, 255);
  }

  
  